body {
  font-family: "GT Pressura Mono";
  font-weight: 300 !important;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk" !important;
  font-weight: 900 !important;
}

* {
  /* transition: all 0.4s; */
}

#cases *[aria-selected="false"] {
  /* opacity: 0.5; */
}
#cases *[aria-selected="true"] {
  opacity: 1;
}
